body {
  background-color: #01449C;
  font-family: Arial, sans-serif;
  background-repeat: no-repeat, repeat;
  background-image: url('../public/images/unsplash_background.png');
  background-color: #01449C;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}
